faks.txt
[{"id":"c9308b5b.efff88","type":"tab","label":"502 Bad Gateway","disabled":false,"info":""},{"id":"d50aa4e2.73cab8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3d214ca6.8ce764","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"dc1d76ee.aeda78","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"b6e68ef9.c8fab","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"1669bec9.fdedf1","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6722db2b.188cc4","type":"mongodb2","z":"d50aa4e2.73cab8","uri":"mongodb://localhost:27017/smartirr","name":"","options":"","parallelism":"-1"},{"id":"609761c8.21c95","type":"mongodb2","z":"d50aa4e2.73cab8","uri":"mongodb://localhost:27017/smartirr","name":"","options":"","parallelism":"-1"},{"id":"194be5da.c807da","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"145196d8.ae6559","type":"mongodb3","z":"","uri":"mongodb://tiennguyen.koreasouth.cloudapp.azure.com/device","name":"","options":"","parallelism":"-1"},{"id":"5136b1e4.be674","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0080c0","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Cyan","default":"#4B7930","baseColor":"#005b88","baseFont":"Verdana,Verdana,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#0080c0","edited":false},"page-backgroundColor":{"value":"#111111","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#0daeff","edited":false},"group-borderColor":{"value":"#555555","edited":true},"group-backgroundColor":{"value":"#333333","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#0080c0","edited":false},"widget-borderColor":{"value":"#333333","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c3a21cb3.01a02","type":"ui_tab","z":"","name":"FIL","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"1ddc2463.ec5edc","type":"ui_group","z":"","name":"Chart","tab":"c3a21cb3.01a02","order":1,"disp":true,"width":"26","collapse":false},{"id":"aac88eb3.4e874","type":"ui_group","name":"Group 2","tab":"c3a21cb3.01a02","order":2,"disp":true,"width":6},{"id":"f766f7f0.c9bdf8","type":"mosca in","z":"d50aa4e2.73cab8","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"fillab","password":"123123123","dburl":"mongodb://localhost:27017/mqtt","x":190,"y":100,"wires":[["14a1aba6.3ea524"]]},{"id":"14a1aba6.3ea524","type":"debug","z":"d50aa4e2.73cab8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":380,"y":100,"wires":[]},{"id":"86cb86ff.285268","type":"mqtt in","z":"d50aa4e2.73cab8","name":"","topic":"/data/packet","qos":"0","datatype":"auto","broker":"1669bec9.fdedf1","x":170,"y":220,"wires":[["347af8cd.f00e58","11268c9f.501d93","1b91a7bb.945ed8"]]},{"id":"347af8cd.f00e58","type":"json","z":"d50aa4e2.73cab8","name":"","property":"payload","action":"","pretty":false,"x":310,"y":280,"wires":[["ed995798.870eb8"]]},{"id":"11268c9f.501d93","type":"function","z":"d50aa4e2.73cab8","name":"Messenger (Thang)","func":"var cmd = msg.payload;\nvar senderId = \"2591312210896244\";\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": cmd\n}\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["649b2c1f.be1b04"]]},{"id":"649b2c1f.be1b04","type":"http request","z":"d50aa4e2.73cab8","name":"Send API Request","method":"POST","ret":"obj","paytoqs":false,"url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAADvzBMwUyQBAC45d4mPGX6OoEHt7SuH5NsSb7SVbzhPvsy6DjqE0sown1e8766RZACmZAgPShDTLiWgtkgabPnzzZATfCbnZAuHrS100UZB1UjpUVcjyVn0Wo62xpSOoInE6arq5P4TAcrrGQ98RBKrb60gpdEpZC97euamasagZDZD","tls":"","proxy":"","x":550,"y":180,"wires":[["c6469768.2fd3a8"]]},{"id":"c6469768.2fd3a8","type":"debug","z":"d50aa4e2.73cab8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":740,"y":180,"wires":[]},{"id":"abdb8fe9.37e26","type":"function","z":"d50aa4e2.73cab8","name":"Run-Algorithms-VAN","func":"var a = [0, 1, 2];\nvar water = [5, 10, 20];\nvar Vth = 3;\nvar L = -1;\nvar OK = 0;\nvar H = 1;\nvar penalty = 100;\n\n\nvar alpha = (water[2] - water[1])/(Vth*(a[2]- a[1]));\n\nvar preHum = global.get(\"preHum\");\nvar curHum = global.get(\"curHum\");\nvar v;\nvar th1 = 45;\nvar th2 = 60;\nfunction humid2State(humid)\n{\n    if(humid < th1) return L;\n    if(humid > th2) return H;\n    return OK;\n}\n\nfunction reward(curState, action, nextState)\n{\n    var p = 0;\n    if(nextState != OK) p = penalty;\n    var r = -alpha* curState * v * a[action] - water[action] - p;\n    return r;\n}\n\nfunction makeDecision(curHumid, preHumid)\n{\n    var maxReward = -2000;\n    var curState = humid2State(curHumid);\n    v = preHumid - curHumid;\n    var tmpReward = 0;\n    var nextHumid;\n    var nextState;\n    var action;\n    \n    for(var i = 0; i < 3; i++)\n    {\n        nextHumid = curHumid - v + water[i];\n        nextState = humid2State(nextHumid);\n        tmpReward = reward(curState, i , nextState);\n        if(tmpReward > maxReward)\n        {\n            maxReward = tmpReward;\n            action = i;\n        }\n    }\n    return a[action];\n}\n\nvar control = makeDecision(curHum, preHum);\nmsg.payload = control;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1880,"y":740,"wires":[["1631a14a.2cf28f"]]},{"id":"1631a14a.2cf28f","type":"function","z":"d50aa4e2.73cab8","name":"Config_Command","func":"var cmd = msg.payload;\n\nmsg.payload  = {\n    \"mac\": global.get('idActuator'),\n    \"cmd\": \"pump\",\n    \"lvl\": cmd\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2090,"y":740,"wires":[["d0035cdc.0255b","a8457156.ecb99"]]},{"id":"d0035cdc.0255b","type":"mqtt out","z":"d50aa4e2.73cab8","name":"","topic":"/inTopic","qos":"2","retain":"true","broker":"194be5da.c807da","x":2260,"y":740,"wires":[]},{"id":"e78a6443.8a6b88","type":"function","z":"d50aa4e2.73cab8","name":"Check-Available-Actuator-Rel","func":"msg.payload = {\n    \"mac\":global.get('idActuator'),\n    \"cmd\":\"available?\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":600,"wires":[["407260f0.b614b"]]},{"id":"407260f0.b614b","type":"mqtt out","z":"d50aa4e2.73cab8","name":"","topic":"/inTopic","qos":"0","retain":"false","broker":"194be5da.c807da","x":1660,"y":620,"wires":[]},{"id":"a412f208.31379","type":"mqtt in","z":"d50aa4e2.73cab8","name":"","topic":"/outTopic","qos":"0","datatype":"auto","broker":"194be5da.c807da","x":1400,"y":700,"wires":[["f6cf9144.610ab"]]},{"id":"f0f6a429.3b9308","type":"switch","z":"d50aa4e2.73cab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Pump Done","vt":"str"},{"t":"eq","v":"available","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1710,"y":700,"wires":[[],["abdb8fe9.37e26"]]},{"id":"f6cf9144.610ab","type":"delay","z":"d50aa4e2.73cab8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1570,"y":700,"wires":[["f0f6a429.3b9308"]]},{"id":"ed995798.870eb8","type":"delay","z":"d50aa4e2.73cab8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":470,"y":420,"wires":[["e6df560.517f1a8","9a37b5a3.6b9a28"]]},{"id":"e6df560.517f1a8","type":"mongodb3 in","z":"d50aa4e2.73cab8","service":"_ext_","configNode":"145196d8.ae6559","name":"Aggregate-To-Device-Collection","collection":"device","operation":"aggregate.toArray","x":710,"y":400,"wires":[["a14d8209.ea8be"]]},{"id":"9226db36.978db8","type":"debug","z":"d50aa4e2.73cab8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":400,"wires":[]},{"id":"a14d8209.ea8be","type":"function","z":"d50aa4e2.73cab8","name":"Update-Device-List","func":"global.set('list_device',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":400,"wires":[["9226db36.978db8"]]},{"id":"4ac1c904.e37308","type":"function","z":"d50aa4e2.73cab8","name":"Match-Mac-Device?","func":"var match_mac = msg.payload.mac;\nvar device = global.get('list_device');\nvar check = false;\n\n\nfor (var i = 0; i < Object.keys(device).length;i++)\n{\n    if (match_mac === device[i].mac)\n    check = true;\n}\n\nif(check===false) msg.payload = check; \n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":860,"y":460,"wires":[["174b18c.b2ef2e7"]]},{"id":"174b18c.b2ef2e7","type":"switch","z":"d50aa4e2.73cab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":460,"wires":[[],["e809bb0.5d0a148","ca755eef.ec22d","2c2806a5.29706a","cc70a3c.c929e6"]]},{"id":"9a37b5a3.6b9a28","type":"delay","z":"d50aa4e2.73cab8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":460,"wires":[["4ac1c904.e37308"]]},{"id":"49a6c666.b18a88","type":"inject","z":"d50aa4e2.73cab8","name":"","topic":"","payload":"{\"mac\":\"68:C6:3A:EA:1E:BC\",\"param\":{\"hum\":28,\"temp\":27.40,\"humk\":74.30,\"lux\":156.67}}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":300,"wires":[["347af8cd.f00e58"]]},{"id":"e8d6552e.888ce8","type":"mongodb3 in","z":"d50aa4e2.73cab8","service":"_ext_","configNode":"145196d8.ae6559","name":"Insert-One-Specify-Document","collection":"device","operation":"insertOne","x":1350,"y":280,"wires":[["3fe019c6.9b7b56"]]},{"id":"c1097e6b.f6e19","type":"inject","z":"d50aa4e2.73cab8","name":"Insert-Document-In-Here","topic":"","payload":"{\"_id\":\"dv2\",\"mac\":\"E9:B2:58:A7:90:9D\",\"rel\":\"\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1190,"y":220,"wires":[["e8d6552e.888ce8"]]},{"id":"3fe019c6.9b7b56","type":"debug","z":"d50aa4e2.73cab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1430,"y":220,"wires":[]},{"id":"f973cdf6.f8be4","type":"comment","z":"d50aa4e2.73cab8","name":"11h42 ngay 4/11/2019","info":"","x":540,"y":40,"wires":[]},{"id":"e809bb0.5d0a148","type":"function","z":"d50aa4e2.73cab8","name":"Get-Cur-Hum","func":"var mac_device = msg.payload.mac;\nglobal.set('curHum',msg.payload.param.hum);\nmsg.payload = [{\"mac\":mac_device},{sort:{'_id':-1}}]\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":460,"wires":[["f04ce63b.2c2868"]]},{"id":"f04ce63b.2c2868","type":"mongodb3 in","z":"d50aa4e2.73cab8","service":"_ext_","configNode":"145196d8.ae6559","name":"Find-One-Document-For-'preHum'-Variable","collection":"data","operation":"findOne","x":1490,"y":460,"wires":[["179b3a2d.b6aff6"]]},{"id":"179b3a2d.b6aff6","type":"function","z":"d50aa4e2.73cab8","name":"Get-Pre-Hum","func":"global.set('preHum',msg.payload.param.hum);\nreturn msg;","outputs":1,"noerr":0,"x":1760,"y":460,"wires":[[]]},{"id":"cfe78be4.fd98d8","type":"function","z":"d50aa4e2.73cab8","name":"Get-Mac","func":"global.set('idSensor',msg.payload.mac);\nglobal.set('idActuator',msg.payload.rel);\nreturn msg;","outputs":1,"noerr":0,"x":1820,"y":520,"wires":[[]]},{"id":"7249c7de.1546f8","type":"function","z":"d50aa4e2.73cab8","name":"Config-Query","func":"var mac_device = msg.payload.mac;\nmsg.payload = [{\"mac\":mac_device}]\n\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":520,"wires":[["c5e035d8.432a38"]]},{"id":"ca755eef.ec22d","type":"delay","z":"d50aa4e2.73cab8","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":520,"wires":[["7249c7de.1546f8"]]},{"id":"c5e035d8.432a38","type":"mongodb3 in","z":"d50aa4e2.73cab8","service":"_ext_","configNode":"145196d8.ae6559","name":"Find-One-Doc-For-Get-Info-Device","collection":"device","operation":"findOne","x":1600,"y":520,"wires":[["cfe78be4.fd98d8"]]},{"id":"2c2806a5.29706a","type":"delay","z":"d50aa4e2.73cab8","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1230,"y":900,"wires":[["baec806e.37f57"]]},{"id":"baec806e.37f57","type":"function","z":"d50aa4e2.73cab8","name":"Add-Time","func":"var date = new Date().toLocaleString('en-US',{timezone:'Asian/Jakatar'});\nvar datee = new Date();\n\nvar _date = [{ \"year\": datee.getFullYear(),\n            \"mouth\": datee.getMonth(),\n            \"day\":datee.getDate()}, {\n            \"hour\":datee.getHours(),\n            \"minute\":datee.getMinutes(),\n            \"second\":datee.getSeconds()}];\n            // \"showDate\":date,\n            // \"date\":datee\nvar day = datee.getFullYear().toString()+\"/\"+datee.getMonth().toString()+\"/\"+datee.getDate().toString();\nvar hour = datee.getHours().toString()+\":\"+datee.getMinutes().toString()+\":\"+datee.getSeconds().toString();\n\nvar str = {'day':day,'hour':hour};\n\nmsg.payload.date = str;\n\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":940,"wires":[["d89faf4c.5703e"]]},{"id":"9fd00012.89cb2","type":"debug","z":"d50aa4e2.73cab8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1880,"y":940,"wires":[]},{"id":"3e819e38.3b9842","type":"comment","z":"d50aa4e2.73cab8","name":"Insert-Data","info":"","x":1560,"y":860,"wires":[]},{"id":"d89faf4c.5703e","type":"mongodb3 in","z":"d50aa4e2.73cab8","service":"_ext_","configNode":"145196d8.ae6559","name":"Insert-Data-into-Collections","collection":"data","operation":"insertOne","x":1620,"y":900,"wires":[[]]},{"id":"814c3f7b.b7fe3","type":"inject","z":"d50aa4e2.73cab8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1100,"y":100,"wires":[["b2e94923.c667b8"]]},{"id":"b2e94923.c667b8","type":"mongodb3 in","z":"d50aa4e2.73cab8","service":"_ext_","configNode":"145196d8.ae6559","name":"Find-Data-Colllections","collection":"data","operation":"aggregate.toArray","x":1320,"y":140,"wires":[["d37ca1db.c53dd"]]},{"id":"cc70a3c.c929e6","type":"delay","z":"d50aa4e2.73cab8","name":"","pauseType":"delay","timeout":"40","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1230,"y":600,"wires":[["e78a6443.8a6b88"]]},{"id":"d37ca1db.c53dd","type":"debug","z":"d50aa4e2.73cab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1560,"y":160,"wires":[]},{"id":"a349dd52.3ffb2","type":"mongodb3 in","z":"d50aa4e2.73cab8","service":"_ext_","configNode":"145196d8.ae6559","name":"","collection":"graph","operation":"insertMany","x":1680,"y":1040,"wires":[[]]},{"id":"1e426123.e0cb9f","type":"exec","z":"c9308b5b.efff88","command":"sudo systemctl restart nginx.service","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":560,"y":140,"wires":[[],[],[]]},{"id":"13e0d8a.ac6e427","type":"inject","z":"c9308b5b.efff88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":250,"y":40,"wires":[["15ed072f.52fad9"]]},{"id":"15ed072f.52fad9","type":"delay","z":"c9308b5b.efff88","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":180,"wires":[["1e426123.e0cb9f"]]},{"id":"a8457156.ecb99","type":"debug","z":"d50aa4e2.73cab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2240,"y":800,"wires":[]},{"id":"acfe822b.c0e68","type":"http in","z":"3d214ca6.8ce764","name":"","url":"/piserver/callback","method":"post","upload":false,"swaggerDoc":"","x":180,"y":120,"wires":[["b3443245.8423e","5e48e678.2eb138"]]},{"id":"b3443245.8423e","type":"http response","z":"3d214ca6.8ce764","name":"","statusCode":"","headers":{},"x":370,"y":100,"wires":[]},{"id":"e2480e36.04691","type":"debug","z":"3d214ca6.8ce764","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":800,"y":140,"wires":[]},{"id":"5e48e678.2eb138","type":"function","z":"3d214ca6.8ce764","name":"","func":"var senderId = msg.payload.entry[\"0\"].messaging[\"0\"].sender.id;\nvar text = msg.payload.entry[\"0\"].messaging[\"0\"].message.text;\n\n\n \n\nmsg.payload = {\n    'senderId':senderId,\n    'text':text\n};\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":200,"wires":[["8ecb2dce.37acb"]]},{"id":"23607bd1.125f14","type":"file","z":"3d214ca6.8ce764","name":"","filename":"/home/pi/input.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":610,"y":140,"wires":[["e2480e36.04691"]]},{"id":"8ecb2dce.37acb","type":"function","z":"3d214ca6.8ce764","name":"","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["23607bd1.125f14","d9eb466.a7b4db8"]]},{"id":"7c81c8fa.434e38","type":"file in","z":"3d214ca6.8ce764","name":"","filename":"/home/pi/input.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":600,"y":500,"wires":[["1adb981e.c201b8"]]},{"id":"b8e5621b.ee86c","type":"inject","z":"3d214ca6.8ce764","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":500,"wires":[["7c81c8fa.434e38"]]},{"id":"1adb981e.c201b8","type":"debug","z":"3d214ca6.8ce764","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":990,"y":480,"wires":[]},{"id":"91e5d62a.ff4648","type":"hash","z":"3d214ca6.8ce764","name":"","outputvar":"payload","algorithm":"sha512","x":530,"y":300,"wires":[["3e3142b2.cc5e4e"]]},{"id":"5fa283e3.92ea1c","type":"inject","z":"3d214ca6.8ce764","name":"","topic":"","payload":"helloworld","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":300,"wires":[["91e5d62a.ff4648"]]},{"id":"3e3142b2.cc5e4e","type":"debug","z":"3d214ca6.8ce764","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":300,"wires":[]},{"id":"d9eb466.a7b4db8","type":"mqtt out","z":"3d214ca6.8ce764","name":"","topic":"/duy","qos":"","retain":"","broker":"1669bec9.fdedf1","x":590,"y":200,"wires":[]},{"id":"67d4df2.7a5652","type":"mqtt in","z":"d50aa4e2.73cab8","name":"","topic":"/duy01","qos":"0","datatype":"auto","broker":"1669bec9.fdedf1","x":150,"y":160,"wires":[["11268c9f.501d93"]]},{"id":"2d117329.46f1cc","type":"mqtt in","z":"dc1d76ee.aeda78","name":"","topic":"/data/packet","qos":"0","datatype":"auto","broker":"1669bec9.fdedf1","x":210,"y":160,"wires":[["ae479c27.da65"]]},{"id":"ae479c27.da65","type":"json","z":"dc1d76ee.aeda78","name":"","property":"payload","action":"","pretty":false,"x":390,"y":160,"wires":[["5447ed84.8d5f14","2eee5f8.01e03a","31e1663e.86370a","5bac5a8f.e1a924"]]},{"id":"5447ed84.8d5f14","type":"function","z":"dc1d76ee.aeda78","name":"HUM","func":"msg.topic = 'Humidity';\nmsg.payload = msg.payload.param.hum;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["da4869d0.745c18"]]},{"id":"2eee5f8.01e03a","type":"function","z":"dc1d76ee.aeda78","name":"HUMK","func":"msg.topic = 'Humidity Air';\nmsg.payload = msg.payload.param.humk;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":140,"wires":[["585a93a6.ab8a1c"]]},{"id":"31e1663e.86370a","type":"function","z":"dc1d76ee.aeda78","name":"TEMP","func":"msg.topic = 'Temperature';\nmsg.payload = msg.payload.param.temp;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":180,"wires":[["23615343.c46efc"]]},{"id":"5bac5a8f.e1a924","type":"function","z":"dc1d76ee.aeda78","name":"LUX","func":"msg.topic = 'Lux';\nmsg.payload = msg.payload.param.lux;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":220,"wires":[["f62e911a.34aa4"]]},{"id":"da4869d0.745c18","type":"ui_chart","z":"dc1d76ee.aeda78","name":"","group":"1ddc2463.ec5edc","order":0,"width":"10","height":"5","label":"Humidity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Done!","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680,"y":100,"wires":[[]]},{"id":"585a93a6.ab8a1c","type":"ui_chart","z":"dc1d76ee.aeda78","name":"","group":"1ddc2463.ec5edc","order":1,"width":"10","height":"5","label":"Humidity Air","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":140,"wires":[[]]},{"id":"23615343.c46efc","type":"ui_chart","z":"dc1d76ee.aeda78","name":"","group":"1ddc2463.ec5edc","order":2,"width":"10","height":"5","label":"Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":180,"wires":[[]]},{"id":"f62e911a.34aa4","type":"ui_chart","z":"dc1d76ee.aeda78","name":"","group":"1ddc2463.ec5edc","order":3,"width":"10","height":"5","label":"Luxury","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"10","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":220,"wires":[[]]},{"id":"5a68766d.68bff8","type":"exec","z":"c9308b5b.efff88","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":540,"y":260,"wires":[[],[],[]]},{"id":"c262dc3.2d2d42","type":"inject","z":"c9308b5b.efff88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":320,"wires":[["5a68766d.68bff8"]]},{"id":"b4cb272c.6c8968","type":"exec","z":"b6e68ef9.c8fab","command":"curl -4 icanhazip.com","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":140,"y":180,"wires":[["6042e7c.37e7918","b2309326.4195d"],[],[]]},{"id":"8f51e15f.c038","type":"inject","z":"b6e68ef9.c8fab","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":100,"wires":[["b4cb272c.6c8968"]]},{"id":"6042e7c.37e7918","type":"function","z":"b6e68ef9.c8fab","name":"","func":"var str = msg.payload;\nstr = str.slice(0,str.length-1);\nmsg.payload = str;\n\n\n\nvar DNS_Old = global.get('DNS_Old');\nvar check ;\nif (msg.payload === DNS_Old) check = true;\n    else\n    {\n        check = false;\n        global.set('DNS_Old',msg.payload);\n    }\nmsg.payload=check;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["c409dc9a.f4a44"]]},{"id":"c409dc9a.f4a44","type":"switch","z":"b6e68ef9.c8fab","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":200,"wires":[[],["50e83f26.7a71a"]]},{"id":"50e83f26.7a71a","type":"function","z":"b6e68ef9.c8fab","name":"","func":"msg.topic = \"DNS Updater\";\nmsg.payload = \"Update DNS for filiotteam.ml(\"+global.get('DNS_Server')+\") !\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":220,"wires":[["7191114d.c4b61","bc3e7c2.f13ff8"]]},{"id":"45f3aa3e.58c3c4","type":"exec","z":"b6e68ef9.c8fab","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":570,"y":140,"wires":[[],[],[]]},{"id":"653aca56.d60dd4","type":"function","z":"b6e68ef9.c8fab","name":"","func":"var str = msg.payload;\nstr = str.slice(0,str.length-1);\nmsg.payload = str;\nvar DNS_Old = global.get('DNS_Old');\n\nif (msg.payload != DNS_Old)\n{\n    msg.payload = \"freenom-dns set filiotteam.ml A \"+str;\n}\nelse\n    msg.payload = \"echo $HOME\"; \n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":140,"wires":[["45f3aa3e.58c3c4"]]},{"id":"b2309326.4195d","type":"delay","z":"b6e68ef9.c8fab","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":140,"wires":[["653aca56.d60dd4"]]},{"id":"7191114d.c4b61","type":"function","z":"b6e68ef9.c8fab","name":"","func":"var cmd = msg.payload;\nvar senderId = \"2591312210896244\";\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": cmd\n}\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["dd3de83d.5ad948"]]},{"id":"dd3de83d.5ad948","type":"http request","z":"b6e68ef9.c8fab","name":"Send API Request","method":"POST","ret":"obj","paytoqs":false,"url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAADvzBMwUyQBAC45d4mPGX6OoEHt7SuH5NsSb7SVbzhPvsy6DjqE0sown1e8766RZACmZAgPShDTLiWgtkgabPnzzZATfCbnZAuHrS100UZB1UjpUVcjyVn0Wo62xpSOoInE6arq5P4TAcrrGQ98RBKrb60gpdEpZC97euamasagZDZD","tls":"","proxy":"","x":850,"y":260,"wires":[["8221fe5d.98809"]]},{"id":"8221fe5d.98809","type":"debug","z":"b6e68ef9.c8fab","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":1040,"y":260,"wires":[]},{"id":"e1e12f7e.184c3","type":"exec","z":"b6e68ef9.c8fab","command":"sudo systemctl restart nginx.service","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":940,"y":320,"wires":[["adc3cd3.2edc13"],[],[]]},{"id":"adc3cd3.2edc13","type":"debug","z":"b6e68ef9.c8fab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":300,"wires":[]},{"id":"bc3e7c2.f13ff8","type":"delay","z":"b6e68ef9.c8fab","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":320,"wires":[["e1e12f7e.184c3"]]},{"id":"7732aa9e.773b14","type":"http in","z":"b6e68ef9.c8fab","name":"","url":"/testcase","method":"get","upload":false,"swaggerDoc":"","x":270,"y":1580,"wires":[["cf6c0081.fcf6e","1776cd87.7f5212"]]},{"id":"cf6c0081.fcf6e","type":"debug","z":"b6e68ef9.c8fab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":1580,"wires":[]},{"id":"ae1347ea.18bfe8","type":"http response","z":"b6e68ef9.c8fab","name":"","statusCode":"","headers":{},"x":560,"y":1640,"wires":[]},{"id":"1776cd87.7f5212","type":"function","z":"b6e68ef9.c8fab","name":"","func":"msg.payload = 'OK';\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1660,"wires":[["ae1347ea.18bfe8"]]},{"id":"1b91a7bb.945ed8","type":"debug","z":"d50aa4e2.73cab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":260,"wires":[]}]
