xxx
[{"id":"8a07325c.3f116","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fde1fd5.fec8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7baacda1.50d644","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"5d827b7f.1270c4","type":"mqtt-broker","z":"","name":"","broker":"m15.cloudmqtt.com","port":"19797","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7fae8c1a.1b6944","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#119ace","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#119ace","edited":true},"page-titlebar-backgroundColor":{"value":"#119ace","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#3dbeef","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#119ace","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"22d5bf4d.e8611","type":"ui_group","z":0,"name":"Instant Value","tab":"4fc46b7c.b61694","order":1,"disp":true,"width":"8","collapse":false},{"id":"a886efd9.5bc6e","type":"ui_group","z":0,"name":"Graphics","tab":"4fc46b7c.b61694","order":2,"disp":false,"width":"12","collapse":false},{"id":"de07707.b80bb9","type":"ui_group","z":"","name":"Value Update !!!","tab":"c4c78ced.f820f","order":1,"disp":true,"width":"8","collapse":false},{"id":"16a7d4a6.2d93ab","type":"ui_group","z":"","name":"Chart (24h)","tab":"c4c78ced.f820f","order":2,"disp":true,"width":"13","collapse":false},{"id":"4fc46b7c.b61694","type":"ui_tab","z":0,"name":"FIL's IoT Testbed","icon":"dashboard","order":1},{"id":"c4c78ced.f820f","type":"ui_tab","z":"","name":"Dashboard IoT System","icon":"dashboard","order":2},{"id":"8a90c6e5.0112a8","type":"mongodb2","z":"","uri":"mongodb://dbAdminCya:Thang123$@fil-iot-data-shard-00-00-sz9x5.mongodb.net:27017,fil-iot-data-shard-00-01-sz9x5.mongodb.net:27017,fil-iot-data-shard-00-02-sz9x5.mongodb.net:27017/cyandb?ssl=true&replicaSet=fil-iot-data-shard-0&authSource=admin&retryWrites=true","name":"","options":"","parallelism":"-1"},{"id":"27cb873b.61e338","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b06a659f.1ee368","type":"mqtt in","z":"8a07325c.3f116","name":"","topic":"/cyan/nodered","qos":"2","broker":"5d827b7f.1270c4","x":90,"y":220,"wires":[["eb0ca32e.773aa"]]},{"id":"50df2b22.a13014","type":"mqtt out","z":"8a07325c.3f116","name":"","topic":"/cyan/nodered","qos":"2","retain":"true","broker":"5d827b7f.1270c4","x":540,"y":620,"wires":[]},{"id":"7b066140.dc29f","type":"inject","z":"8a07325c.3f116","name":"","topic":"","payload":"hello world","payloadType":"str","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":620,"wires":[["3edc815b.f8ef0e"]]},{"id":"3edc815b.f8ef0e","type":"function","z":"8a07325c.3f116","name":"Fake Data","func":"var temp = Math.round(Math.random() * (29 - 22) + 22);\nvar hum = Math.round(Math.random() * (90 - 45) + 45);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (800 - 780) + 78);\nvar i = Math.round(Math.random() *2);\n\n\nmsg.payload={\n    \"mac\":\"21:65:D9:E4:53:2D\",\n    \"pos\":\n        {\n            \"x\":0,\n            \"y\":0          \n        },\n    \"power\":12,\n    \"param\": \n        {\n            \"light\": light,\n            \"temp\":temp,\n            \"hum\":hum,\n            \"eva\":evap,\n            \"act\":i\n        },\n    \"extra\": null\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":620,"wires":[["50df2b22.a13014"]]},{"id":"5ca16435.bb698c","type":"function","z":"8a07325c.3f116","name":"Action","func":"var action = msg.payload.param.act;\nvar str = [\"No\",\"Litter\",\"Many\"];\nmsg.payload = str[action];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["fa554b42.6c3e28"]]},{"id":"6e26aaa2.901c54","type":"function","z":"8a07325c.3f116","name":"Temperature","func":"msg.topic=\"Temperature(°C)\";\nmsg.payload = msg.payload.param.temp;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["7ea30eae.e1d72","b49e63d.b3f13a","ce3ea449.3593d8","f7a4a99.fbdd558"]]},{"id":"f9ea55c5.461ef8","type":"function","z":"8a07325c.3f116","name":"Humidity","func":"msg.topic=\"Humidity(%)\";\nmsg.payload = msg.payload.param.hum;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["acbfecd.692041","b49e63d.b3f13a","3a12c0f4.617bf","2cb7e66a.01052a"]]},{"id":"123ee4fe.bce71b","type":"function","z":"8a07325c.3f116","name":"Evaporation","func":"msg.topic=\"Evaporation(%/s)\";\nmsg.payload = msg.payload.param.eva;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":280,"wires":[["527c2c8f.41eb84","d59c700.8500c9"]]},{"id":"68d853a5.a78f3c","type":"function","z":"8a07325c.3f116","name":"Light","func":"msg.topic=\"Light(x10lux)\";\nmsg.payload = msg.payload.param.light/10.0;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":320,"wires":[["7c44c48f.803ecc","d59c700.8500c9","170771d4.51342e","8851e131.a3c3a"]]},{"id":"eb0ca32e.773aa","type":"json","z":"8a07325c.3f116","name":"","property":"payload","action":"","pretty":true,"x":250,"y":220,"wires":[["6e26aaa2.901c54","f9ea55c5.461ef8","123ee4fe.bce71b","68d853a5.a78f3c","5ca16435.bb698c","fee08607.46b6c8","97382c6b.a88ff"]]},{"id":"167a2cdd.0a3f83","type":"comment","z":"8a07325c.3f116","name":"Nhận dữ liệu từ Cloudmqtt","info":"","x":154,"y":146,"wires":[]},{"id":"36b9f56a.17f00a","type":"comment","z":"8a07325c.3f116","name":"Covert bản tin nhận được sang JSON_payload","info":"","x":220,"y":340,"wires":[]},{"id":"37fce3b2.ec8a6c","type":"comment","z":"8a07325c.3f116","name":"Các hàm lấy các giá trị từ payload","info":"","x":480,"y":120,"wires":[]},{"id":"17ca9fb4.2b369","type":"comment","z":"8a07325c.3f116","name":"Đưa các thông số lên chart_board","info":"","x":1080,"y":60,"wires":[]},{"id":"fa554b42.6c3e28","type":"ui_text","z":"8a07325c.3f116","group":"22d5bf4d.e8611","order":5,"width":0,"height":0,"name":"","label":"Water Pump","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":420,"wires":[]},{"id":"7ea30eae.e1d72","type":"ui_gauge","z":"8a07325c.3f116","name":"","group":"22d5bf4d.e8611","order":1,"width":"4","height":"4","gtype":"gage","title":"Temperature","label":"","format":"{{value}} °C","min":0,"max":"100","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"18","seg2":"40","x":752,"y":173,"wires":[]},{"id":"acbfecd.692041","type":"ui_gauge","z":"8a07325c.3f116","name":"","group":"22d5bf4d.e8611","order":2,"width":"4","height":"4","gtype":"gage","title":"Humidity","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#ffff00","#00ff00","#ff8040"],"seg1":"65","seg2":"90","x":742,"y":253,"wires":[]},{"id":"527c2c8f.41eb84","type":"ui_gauge","z":"8a07325c.3f116","name":"","group":"22d5bf4d.e8611","order":3,"width":"4","height":"4","gtype":"gage","title":"Evaporation","label":"","format":"{{value}} %/s","min":0,"max":"100","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"25","seg2":"75","x":752,"y":293,"wires":[]},{"id":"7c44c48f.803ecc","type":"ui_gauge","z":"8a07325c.3f116","name":"","group":"22d5bf4d.e8611","order":4,"width":"4","height":"4","gtype":"gage","title":"Light","label":"","format":"{{value}} lux","min":0,"max":"100","colors":["#ffff00","#0ed818","#ca3838"],"seg1":"15","seg2":"75","x":732,"y":373,"wires":[]},{"id":"b49e63d.b3f13a","type":"ui_chart","z":"8a07325c.3f116","name":"","group":"a886efd9.5bc6e","order":0,"width":0,"height":0,"label":"Temperature and Humidity","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff0000","#00ff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":801,"y":210,"wires":[[],[]]},{"id":"d59c700.8500c9","type":"ui_chart","z":"8a07325c.3f116","name":"","group":"a886efd9.5bc6e","order":0,"width":0,"height":0,"label":"Light and Evaporation","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff8000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":782,"y":333,"wires":[[],[]]},{"id":"fee08607.46b6c8","type":"debug","z":"8a07325c.3f116","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload.param","x":210,"y":280,"wires":[]},{"id":"ce3ea449.3593d8","type":"ui_text","z":"8a07325c.3f116","group":"de07707.b80bb9","order":0,"width":"8","height":"1","name":"","label":"Nhiệt Độ","format":"{{msg.payload}} °C","layout":"row-spread","x":1060,"y":180,"wires":[]},{"id":"3a12c0f4.617bf","type":"ui_text","z":"8a07325c.3f116","group":"de07707.b80bb9","order":1,"width":"8","height":"1","name":"","label":"Độ Ẩm","format":"{{msg.payload}} %","layout":"row-spread","x":1050,"y":220,"wires":[]},{"id":"170771d4.51342e","type":"ui_text","z":"8a07325c.3f116","group":"de07707.b80bb9","order":2,"width":"8","height":"1","name":"","label":"Cường Độ Ánh Sáng","format":"{{msg.payload}} Lux","layout":"row-spread","x":1100,"y":260,"wires":[]},{"id":"f7a4a99.fbdd558","type":"ui_chart","z":"8a07325c.3f116","name":"","group":"16a7d4a6.2d93ab","order":5,"width":"12","height":"4","label":" Temperature Chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":1092,"y":313,"wires":[[],[]]},{"id":"2cb7e66a.01052a","type":"ui_chart","z":"8a07325c.3f116","name":"","group":"16a7d4a6.2d93ab","order":1,"width":"12","height":"4","label":"Humidity Chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":1100,"y":360,"wires":[[],[]]},{"id":"8851e131.a3c3a","type":"ui_chart","z":"8a07325c.3f116","name":"","group":"16a7d4a6.2d93ab","order":2,"width":"12","height":"4","label":"Light Chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":1090,"y":400,"wires":[[],[]]},{"id":"b3f87ee9.d32b5","type":"comment","z":"8a07325c.3f116","name":"Tab 1","info":"","x":750,"y":120,"wires":[]},{"id":"561500f7.4b6dc","type":"comment","z":"8a07325c.3f116","name":"Tab 2","info":"","x":1050,"y":120,"wires":[]},{"id":"97382c6b.a88ff","type":"function","z":"8a07325c.3f116","name":"Pre-process Add to Database","func":"var date = new Date();\n//ate = date.toGMTString();\n//date = date.getUTCDate();\nvar mac = msg.payload.mac;\nvar pos = msg.payload.pos;\nvar power = msg.payload.power;\nvar param = msg.payload.param;\nvar extra = msg.payload.extra;\nmsg.payload = {\n    \"mac\":mac,\n    \"pos\":pos,\n    \"power\":power,\n    \"param\":param,\n    \"extra\":extra,\n    \"time\":date\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":480,"wires":[["c4f50d67.0196d"]]},{"id":"c4f50d67.0196d","type":"mongodb2 in","z":"8a07325c.3f116","service":"_ext_","configNode":"8a90c6e5.0112a8","name":"INSERT DB","collection":"treedata","operation":"insert","x":670,"y":480,"wires":[["d8475ff.da259a"]]},{"id":"d8475ff.da259a","type":"debug","z":"8a07325c.3f116","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":480,"wires":[]},{"id":"c597929b.76736","type":"comment","z":"8a07325c.3f116","name":"Chèn dữ liệu vào Database","info":"","x":440,"y":440,"wires":[]},{"id":"404241ca.448f4","type":"http in","z":"fde1fd5.fec8","name":"","url":"/callback","method":"get","upload":false,"swaggerDoc":"","x":250,"y":40,"wires":[["a1998c03.6d0c9"]]},{"id":"a1998c03.6d0c9","type":"function","z":"fde1fd5.fec8","name":"Verify Webhook","func":"var mode = '';\nvar vtoken = '';\nvar challenge = '';\nif (msg.payload['hub.mode'])\n{\n   mode = msg.payload['hub.mode'];\n}\nif (msg.payload['hub.verify_token'])\n{\n   vtoken = msg.payload['hub.verify_token'];\n}\nif (msg.payload['hub.challenge'])\n{\n   challenge = msg.payload['hub.challenge'];\n}\nif ('subscribe' == mode &&\n 'jovhoeggxyc0gy4ezbj3' == vtoken) {\n   msg.payload = challenge;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":40,"wires":[["c74fa4ab.30cc48"]]},{"id":"c74fa4ab.30cc48","type":"http response","z":"fde1fd5.fec8","name":"","statusCode":"","headers":{},"x":608,"y":40,"wires":[]},{"id":"2c145e11.8a8bf2","type":"comment","z":"fde1fd5.fec8","name":"Get with FB","info":"Thiết lập Webhooks . FB sẽ gửi nhận tại địa chỉ :\nhttps://conv-201-196-testtreetracking.eu-gb.mybluemix.net/urlcallback","x":88,"y":40,"wires":[]},{"id":"8e30578b.d93f08","type":"mosca in","z":"7baacda1.50d644","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"cyangit","password":"thang123","dburl":"mongodb://localhost:27017/mqtt","x":390,"y":140,"wires":[["e4f5ceeb.da53"]]},{"id":"e4f5ceeb.da53","type":"debug","z":"7baacda1.50d644","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":160,"wires":[]},{"id":"16f5b52b.152f0b","type":"mqtt in","z":"7baacda1.50d644","name":"","topic":"/fb/messenger","qos":"2","broker":"27cb873b.61e338","x":360,"y":240,"wires":[["af82656d.bbd4c8"]]},{"id":"af82656d.bbd4c8","type":"debug","z":"7baacda1.50d644","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":200,"wires":[]},{"id":"a066797d.57c6a8","type":"ip","z":"7baacda1.50d644","name":"ip","x":410,"y":60,"wires":[["a7be0c27.682e"]]},{"id":"c442c051.68c49","type":"inject","z":"7baacda1.50d644","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":60,"wires":[["a066797d.57c6a8"]]},{"id":"a7be0c27.682e","type":"function","z":"7baacda1.50d644","name":"","func":"var pubip = msg.payload.public.v4;\nmsg.payload = pubip;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":60,"wires":[["7bde889a.cf9568"]]},{"id":"7bde889a.cf9568","type":"mqtt out","z":"7baacda1.50d644","name":"","topic":"/server/pubip","qos":"2","retain":"true","broker":"27cb873b.61e338","x":690,"y":60,"wires":[]}]
